<html>
<head>
	<style type="text/css">
		table,td,th{

			border:2px solid;
		}
		table{

			border-collapse:collapse;
		}
	</style>
</head>
<body>
	<center>
	<div style="background-color:grey;height:50px;width:40%;padding:50px;font-size:30px;color:white; "><center>CALLING PAGE</center></div></center>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<center>
<table style="background-color:pink">
        <tr>
                <td>NAME</td>
                <td>EMAIL</td>
                <td>MOBILE</td>
                <td>COURSE</td>
                <td>SOURCE</td>
                <td>LEAD_STATUS</td>
                <td>DEMO_DATE</td>
                <td>COUNSIER</td>
                <td>REMARKS</td>
            </tr>
	{% for i in details %}
	<tr>
		<td>{{i.NAME}}</td>
		<td>{{i.EMAIL}}</td>
		<td>{{i.MOBILE}}</td>
		<td>{{i.COURSE}}</td>
		<td>{{i.SOURCE}}</td>
		<td>{{i.LEAD_STATUS}}</td>
		<td>{{i.DEMO_DATE}}</td>
		<td>{{i.COUNSIER}}</td>
		<td>{{i.REMARKS}}</td>
	</tr>
	{% endfor%}
</table>
</body>
</center>
</html>