
<html>
<head>
<style>
</style>
</head>
<body>
<form method="POST" action="{% url 'counselling1' %}">
    {%csrf_token%}


    <center>
            <div style="background-color:pink;width:75%;height:105%; border:2px solid">
            <div style="font-size:100px"><center>counselling_page</center></div>
            <center>
                    <div style="background-color: white;width:76%;height:20px">
                
            
            
            <a href="{% url 'registration_html' %}" style=" text-decoration:none;">REGISTERFORM</a>&nbsp;
            <a href="{% url 'data_page' %}" style=" text-decoration:none;">WALKINS</a>&nbsp;
            <a href= "{% url 'calling' %}"style=" text-decoration:none;">CALLING</a>&nbsp;
            <a href="{% url 'counselling' %}" style=" text-decoration:none;">COUNSELLING</a>&nbsp;
            <a href="{% url 'join' %}" style=" text-decoration:none;">JOINING</a>&nbsp;
            <a href="{% url 'student' %}" style=" text-decoration:none;">STUDENTS</a>&nbsp;
		    <a href="{% url 'current' %}" style=" text-decoration:none;">CURRENTSTATUS</a>

        </div>

    </center>
    </br>
    </br>
    </br>
    
    
    <center>
    
    
                <div style="background-color:white;width:75%;height:55%; border:2px solid">





<!-- <h3>COURSE</h3>
<select style="width:550px;" name="COURSE" >
    <option>default</option>
    <option>python</option>
    <option>django</option>
    <option>datascience</option>
</select> -->
<h3>NAME</h3>
    <input style="width:550px;padding:10px;" type="text" name="NAME" placeholder="Name of the candidate" value="{{details.NAME}}">

<h3>DEMO_DATE</h3>
<input style="width:550px;padding:10px;" type="date" name="DEMO_DATE" placeholder="dd-mm--yyyy">

<center><button style="background-color:pink">SUBMIT</button></center>
</div>
</div>
</body>
</form>
</html>
